@page "/profile/create"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Studio37Media.Shared

@attribute [Authorize]
@inject HttpClient Http
<h1>Edit Profile</h1>
<hr/>

@try
{
<EditForm Model="@profile" OnValidSubmit="@HandleFormSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group row">
        <label for="FirstName" class="col-sm-1 col-form-label">First Name</label>
        <div class="col-sm-5">
            <InputText id="FirstName" class="form-control" placeholder="First Name"
                       @bind-Value="profile.FirstName" />
        </div>
    </div>

    <div class="form-group row">
        <label for="LastName" class="col-sm-1 col-form-label">Last Name</label>
        <div class="col-sm-5">
            <InputText id="LastName" class="form-control" placeholder="Last Name"
                       @bind-Value="profile.LastName" />
        </div>
    </div>
    <div class="form-group  row">
        <label for="DateOfBirth" class="col-sm-1 col-form-label">Date Of Birth</label>
        <div class="col-sm-5">
            <InputDate id="DateOfBirth" class="form-control"
                       @bind-Value="profile.DateOfBirth" />
        </div>
    </div>
    <div class="form-group row">
        <label for="Country" class="col-sm-1 col-form-label">Country</label>
        <div class="col-sm-5">
            <InputText id="Country" class="form-control" paceholder="Select a country"
                         @bind-Value="profile.Country" />
            
        </div>
    </div>
    <div class="form-group row">
        <label for="Bio" class="col-sm-1 col-form-label">Bio</label>
        <div class="col-sm-5">
            <InputTextArea id="Bio" class="form-control" placeholder="Write something about yourself"
                           @bind-Value="profile.Bio" />
            
        </div>
    </div>
    @*<div class="form-group row">
        <label for="PhoneNumber" class="col-sm-2 col-form-label">Phone Number</label>
        <div class="col-sm-10">
            <InputText id="PhoneNumber" class="form-control"
                       @bind-Value="profile.PhoneNumber" />
        </div>
    </div>*@
    <div class="form-group row">
        <label for="Website" class="col-sm-1 col-form-label">Website</label>
        <div class="col-sm-5">
            <InputText id="Website" class="form-control" placeholder="Link your Website"
                       @bind-Value="profile.Website" />
        </div>
    </div>

    <div>
        <label for="ProfilePhoto">Profile Photo: </label>
        <input type="text" @bind="profile.ProfilePhoto" />
    </div>

    <div>
        <label for="WallPhoto">Wall Photo: </label>
        <input type="text" @bind="profile.WallPhoto" />
    </div>

    <button type="submit">Submit</button>
</EditForm>
    @code {

        Profile profile = new Profile();

        async void HandleFormSubmit()
        {
            await Http.PostAsJsonAsync<Profile>("Profile", profile);
        }
    }
}
catch (Exception e)
{
    Console.WriteLine(e.ToString());
    <label for="firstName">@e.ToString() </label>
}


